body,html{
  width: 100%;
  height: 100%;
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  height: 100%;
}

.app-wrapper{
  height: 100%;
  background: #f3f4f7;
  .el-container{
    height: 100%;
  }
  .app-aside{
    height: 100%;
  }
}
// 图标
.svg-icon{
  width: 20px;
  height: 20px;
}

// 表格中elment-button 样式
.el-table .el-table__body .el-table__row .el-button.el-button--tab-mini{
  padding: 6px 8px;
  font-size: 12px;
  margin-left: 0;
}